
# BEGIN WordPress
# Direktīvas (līnijas) starp `BEGIN WordPress` and `END WordPress` ir
# dinamiski ģenerētas un tās vajadzētu modificēt vienīgi izmantojot WordPress filtrus.
# Jebkuras izmaiņas šajās direktīvās starp iezīmēm tiks pārrakstītas.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /nodarbibas/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /nodarbibas/wordpress/index.php [L]
</IfModule>

# END WordPress